// custom reset
body {
  background: linear-gradient(
    94.56deg,
    $clr_2 0.6%,
    $clr_3 62.83%,
    $clr_1 93.22%
  );
  background-size: 200% 200%;
  animation: gradient 12s ease infinite;
  min-height: 100vh;
  cursor: url("./content/assets/img/logo.svg"), auto;
  main {
    position: relative;
    overflow-x: hidden;
    padding-top: 80px;
    &.index {
      padding-top: unset;
    }
    @include md {
      padding-top: 55px;
    }
    h2 {
      font-size: clamp($fs_h3, 6vw, $fs_giga);
      font-family: $ff_alt1;
    }
    h3 {
      font-size: clamp($fs_h3, 4vw, $fs_mega);
      font-family: $ff_alt1;
      line-height: 1.25;
      margin-bottom: 24px;
    }
    h4 {
      font-size: clamp($fs_h3, 3vw, $fs_mega);
      font-family: $ff_alt1;
      line-height: 1.5;
      text-align: center;
      max-width: 680px;
      margin: 30vh auto;
    }
    p {
      max-width: 470px;
      font-size: $fs_h6;
      font-family: $ff_base;
      font-weight: $fw_bold;
      line-height: 1.35;
    }
  }
}

* {
  color: $clr_base;
  transition: 0.4s;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  @include xl {
    padding: 0 6.25%;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  z-index: 2;
  @include xl {
    padding: 20px 6.25%;
  }
  @include md {
    padding: 15px 6.25%;
  }
  .h_logo_box {
    display: flex;
    align-items: center;
    z-index: 2;
    h2 {
      font-size: $fs_h2;
      font-weight: $fw_bolder;
      @include lg {
        font-size: $fs_h4;
      }
      // 用在首頁 logo
      &.gradient {
        background: linear-gradient(
          92.09deg,
          $clr_5 0.54%,
          $clr_1 43.02%,
          $clr_4 101.24%
        );
        background-clip: text;
        color: transparent;
      }
    }
  }
  & > nav {
    width: 65%;
    max-width: 860px;
    display: flex;
    justify-content: space-between;
    @include lg {
      display: none;
    }
    a {
      font-size: $fs_h6;
      font-weight: $fw_bolder;
      &:hover {
        color: $clr_1;
      }
    }
  }
  .hamburger {
    display: none;
    @include lg {
      display: block;
      cursor: pointer;
      z-index: 2;
    }
    .line {
      width: 25px;
      height: 3px;
      border-radius: 999rem;
      background-color: $clr_base;
      display: block;
      margin: 4px auto;
      transition: all 0.3s ease-in-out;
    }
  }
  .menu {
    display: none;
    @include lg {
      display: block;
      position: fixed;
      width: 100%;
      top: -100%;
      left: 0;
      padding: 65px 20px 10px;
      background: rgba($clr_000, 0.8);
      z-index: 1;
      transition: -0.3s 0.9s ease-in-out;
    }
    @include md {
      padding-top: 55px;
    }
    &.active {
      top: 0;
    }
    nav {
      display: flex;
      flex-direction: column;
      a {
        padding: 10px 0;
        text-align: center;
        &:not(:last-of-type) {
          border-bottom: 1px solid $clr_base;
        }
      }
    }
  }
}

.hamburger.active .line:nth-child(1) {
  width: 15px;
}

.hamburger.active .line:nth-child(2) {
  width: 20px;
}

.hamburger.active .line {
  transform: rotate(-30deg);
}

// .hamburger.active .line:nth-child(2) {
//   opacity: 0;
// }
// .hamburger.active .line:nth-child(1) {
//   transform: translateY(7px) rotate(45deg);
// }
// .hamburger.active .line:nth-child(3) {
//   transform: translateY(-7px) rotate(-45deg);
// }

footer {
  background: linear-gradient(92.81deg, $clr_2 0%, $clr_4 47.4%, $clr_1 100%);
  .container {
    position: relative;
    padding: 44px 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
      padding: 44px 10% 8px;
    }
    nav,
    .f_other_box {
      display: flex;
      justify-content: center;
      gap: 19px;
      flex-wrap: wrap;
      a {
        position: relative;
        font-weight: $fw_bold;
        &:not(:last-child) {
          &::after {
            content: "";
            position: absolute;
            right: -9px;
            height: 100%;
            width: 1px;
            background-color: $clr_base;
          }
        }
      }
    }
    nav {
      margin-bottom: 22px;
      @include md {
        gap: 4px 19px;
      }
    }
    .f_other_box {
      margin-bottom: 37px;
      @include lg {
        margin-bottom: 21px;
      }
    }
    .f_other_box2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      font-weight: $fw_bold;
      margin-bottom: 24px;
      @include sm {
        flex-direction: column;
        gap: 5px;
      }
    }
    .copyright {
      font-size: $fs_milli;
    }
    .download {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 21px;
      @include xl {
        top: 60%;
      }
      @include lg {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        margin-bottom: 22px;
      }
      a {
        display: block;
      }
    }
    .go_top {
      position: absolute;
      top: -68px;
      right: 5%;
      width: 136px;
      height: 136px;
      border-radius: 999rem;
      background: $clr_000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include sm {
        top: -44px;
        width: 88px;
        height: 88px;
      }
    }
  }
}
