section {
  // TBC
  padding-top: 0;
}

section.index {
  & > .video_box {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 1;
    overflow: hidden;
    @include md {
      aspect-ratio: 1.2 / 1;
    }
    @include sm {
      aspect-ratio: 0.6 / 1;
    }
    & > iframe {
      @include iframeSize;
    }
    // 最下方兩部影片重疊處
    &.breakdown {
      margin-top: 85vh;
      margin-bottom: 60vh;
      overflow: unset;
      width: 100%;
      aspect-ratio: 16 / 9;
      display: flex;
      @include sm {
        aspect-ratio: 1 / 1.6;
      }
      @include sm {
        margin-top: 35vh;
        margin-bottom: 85vh;
      }
      $commonleft: 37.5%;
      div {
        iframe {
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translateY(-50%);
          border: 1px solid #f00;
          @include occupation;
          @include sm {
            top: unset;
            bottom: -50%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      h2 {
        position: absolute;
        top: -7.5vh;
        left: $commonleft;
        @include sm {
          left: 50%;
          transform: translateX(-50%);
          font-size: clamp(2rem, 15vw, 12rem);
        }
        span {
          font-size: clamp($fs_h4, 3.5vw, $fs_mega);
          @include sm {
            font-size: clamp($fs_h4, 9vw, 6rem);
          }
        }
      }
      p {
        position: absolute;
        bottom: 7.5vh;
        left: $commonleft;
        font-size: $fs_h3;
        min-width: 840px;
        @include sm {
          width: 87%;
          bottom: -95%;
          min-width: unset;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  // Hey U Molly wtite here
  .carousel_box {
    padding-top: 92px;
    position: relative;
    @include md {
      margin-top: 24px;
    }
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: $clr_1;
      opacity: 0.7;
      text-align: center;
    }
    .carousel_main {
      width: 100%;
      height: 506px;
      overflow-x: hidden;
      position: relative;
      transition: 4s;
      @include md {
        height: 50vw;
      }
      &:hover {
        transform: scale(1.05);
      }
      ul {
        margin: 0;
        padding-left: 0;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        display: flex;
        transition: unset;
        li {
          width: auto;
          height: 506px;
          list-style: none;
          flex-shrink: 0;
          @include md {
            height: 50vw;
          }
          img {
            width: auto;
            height: 100%;
            max-width: unset;
          }
        }
      }
    }
  }
  .container {
    .download {
      padding: 70px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      @include md {
        flex-direction: column;
      }
    }
    .vc_box {
      position: relative;
      img {
        width: 100%;
      }
      .text_box {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15vh 0;
      @include md {
        flex-direction: column;
      }
      .video_box {
        width: 100%;
        max-width: 640px;
        aspect-ratio: 16 / 9;
        border-radius: 15px;
        overflow: hidden;
        margin-right: 48px;
        @include md {
          margin: unset;
          margin-bottom: 16px;
        }
        iframe {
          @include iframeSize;
        }
      }
    }
  }
}

section.social {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 6.25%;
    @include md {
      flex-direction: column;
      padding: 40px 6.25%;
    }
    .video_box {
      width: 100%;
      max-width: 640px;
      aspect-ratio: 16 / 9;
      border-radius: 15px;
      margin-right: 16px;
      @include md {
        margin: unset;
        margin-bottom: 16px;
      }
      iframe {
        overflow: hidden;
        padding-bottom: 4px;
        @include iframeSize;
      }
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      @include md {
        flex-direction: column;
      }
      .video_box {
        margin-right: unset;
        margin-left: 16px;
        @include md {
          margin: unset;
          margin-bottom: 16px;
        }
      }
    }
  }
}

section.avatar {
  padding-bottom: 25vh;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 35px 15%;
    @include md {
      flex-direction: column;
      padding: 35px 6.25%;
    }
    .gif {
      @include occupation;
      flex-shrink: 0;
      @include md {
        width: 100%;
        margin-bottom: 16px;
      }
    }
    p {
      width: 100%;
      max-width: 530px;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @include md {
        flex-direction: column;
      }
    }
  }
}

section.download {
  padding: 38px 15% 166px;
  @include md {
    padding: 38px 6.25% 166px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7.5vw;
    @include md {
      flex-direction: column;
    }
    .gif {
      @include occupation;
    }
    .info {
      h3 {
        white-space: nowrap;
      }
      p {
        margin-bottom: 40px;
        max-width: 530px;
      }
      .links {
        display: flex;
        gap: 16px;
      }
    }
  }
}

section:is(.vision, .arlive) {
  padding-bottom: 20vh;
  .container {
    @include md {
      padding: 0 6.25%;
    }
    h2 {
      font-size: clamp(60px, 9vw, 128px);
      font-weight: $fw_max;
      font-family: $ff_base;
      &:first-of-type {
        color: $clr_dk;
        opacity: 0.25;
        filter: blur(5px);
      }
      &:not(:first-of-type) {
        position: relative;
        top: -15vh;
        right: 1.5vw;
        text-align: end;
        line-height: 1.25;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.7) 100%
        );
        background-clip: text;
        color: transparent;
        @include md {
          top: -10vh;
        }
      }
    }
    .video_box {
      transform: translateY(-3vh);
      width: 100%;
      max-width: 1080px;
      aspect-ratio: 16 / 9;
      border-radius: 15px;
      overflow: hidden;
      margin: 0 auto;
      iframe {
        @include iframeSize;
      }
    }
    .toggleBox {
      max-width: 1080px;
      margin: 0 auto;
    }
    .toggleVoice {
      position: relative;
      z-index: 9999 !important;
    }
  }
}

section.privacy {
  padding: 46px 15% 93px;
  @include md {
    padding: 46px 6.25% 93px;
  }
  .container {
    h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    .content {
      width: 100%;
      max-height: 800px;
      overflow-y: scroll;
      border-radius: 20px;
      padding: 24px;
      background-color: rgba($clr_base, 0.5);
      p {
        max-width: unset;
      }
    }
  }
}

section.companion {
  position: relative;
  padding-top: 43px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .tab {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 830px;
    padding: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    background-color: $clr_base;
    @include lg {
      max-width: 625px;
      img {
        display: none;
      }
      @include sm {
        max-width: 340px;
        flex-wrap: wrap;
        padding: 2px 20px 2px 20px;
      }
    }
    &-btn {
      font-size: $fs_h6;
      line-height: $fs_h4;
      height: 42px;
      background-color: transparent;
      color: #818181;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 18px;
      gap: 10px;
    }
    .btn-active {
      color: $clr_base;
      > .active {
        filter: brightness(0) invert(1);
      }
    }
    input[type='radio'] {
      display: none;
    }
    input[id='input_calender']:checked {
      & ~ .glider {
        transform: translateX(0%);
      }
    }
    input[id='input_food']:checked {
      & ~ .glider {
        transform: translateX(100%);
      }
    }
    input[id='input_emotion']:checked {
      & ~ .glider {
        transform: translateX(200%);
      }
    }
    input[id='input_music']:checked {
      & ~ .glider {
        transform: translateX(300%);
        @include sm {
          transform: translateY(100%);
        }
      }
    }
    input[id='input_clothing']:checked {
      & ~ .glider {
        transform: translateX(400%);
        @include sm {
          transform: translate(100%, 100%);
        }
      }
    }
    input[id='input_speech']:checked {
      & ~ .glider {
        transform: translateX(480%);
        @include lg {
          transform: translateX(500%);
        }
        @include sm {
          transform: translate(200%, 100%);
        }
      }
    }

    .glider {
      position: absolute;
      height: 42px;
      width: 130px;
      background: linear-gradient(90deg, #9747ff 0%, #54b8c6 100%);
      z-index: -1;
      border-radius: 100px;
      transition: 0.5s ease-out;
      @include lg {
        width: 95px;
      }
      @include sm {
        width: 100px;
      }
    }
  }
  .content {
    display: none;
    padding: 81px 0px 50%;
    &-title {
      font-size: $fs_mega;
    }
    .video_box {
      max-width: 522px;
      width: 100%;
      aspect-ratio: 16/9;
      margin: 0 auto;
      iframe {
        @include iframeSize;
      }
    }
    p {
      padding-top: 73px;
      padding-bottom: 80px;
      max-width: 1080px;
      font-size: $fs_h5;
      font-weight: $fw_bolder;
    }
  }
  .content.active {
    display: block;
    text-align: center;
  }
  .polygon {
    position: absolute;
    width: 20%;
    &_left {
      opacity: 0.5;
      top: 43%;
      left: 0%;
    }
    &_group {
      opacity: 0.37;
      left: 0%;
      bottom: 0%;
    }
    &_right {
      opacity: 0.5;
      top: 48%;
      right: 0%;
    }
    &_center {
      opacity: 0.5;
      top: 63%;
      right: 5%;
    }
  }
}

section.character {
  padding-bottom: 25vh;
  .full-gif {
    margin-top: 155px;
    width: 100%;
    text-align: center;
  }
  .content {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding: 35px 15%;
    @include md {
      flex-direction: column;
      padding: 35px 6.25%;
    }
    .gif {
      margin-top: 66px;
      max-height: 534px;
      display: flex;
      justify-content: center;
      @include md {
        margin-top: 0px;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @include md {
        flex-direction: column;
      }
    }
    .tab-wrap {
      min-width: 460px;
      @include md {
        min-width: 100%;
      }
      .tabs {
        display: flex;
        margin-bottom: 20px;
        justify-content: flex-start;
        @include md {
          margin: 36px 0;
        }
        .tab {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 46px;
          background-color: transparent;
          margin-right: 20px;
          border-radius: 20px;
          border: 2px solid $clr_base;
          .text {
            font-size: $fs_h5;
            font-family: $ff_alt1;
          }
          &.selected {
            background-color: $clr_base;
            .text {
              background-image: linear-gradient(91.04deg, $clr_1 0.89%, $clr_4 99.36%);
              background-clip: text;
              background-color: $clr_base;
              color: transparent;
            }
          }
        }
      }
      .card {
        background: rgba($clr_base, 0.8);
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .tab-content {
        padding: 30px;
        .title-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 30px;
          @include md {
            flex-direction: column;
            align-items: flex-start;
          }
          .logo {
            width: 30px;
            height: 30px;
            margin: 0 7px;
          }
          .title-right {
            display: flex;
            align-items: center;
            span {
              color: $clr_7;
              font-size: $fs_h5;
              &.gradient {
                font-weight: $fw_bolder;
                background: linear-gradient(92.09deg, $clr_5 0.54%, $clr_1 43.02%, $clr_4 101.24%);
                background-clip: text;
                color: transparent;
              }
            }
          }
        }
        .title {
          font-family: $ff_alt1;
          font-size: 54px !important;
          color: $clr_6 !important;
        }
        .list {
          margin-left: 15px;
          span {
            font-family: $ff_alt1;
            color: $clr_6;
            line-height: 23px;
            display: inline-block;
            min-width: 200px;
            @include md {
              min-width: 130px;
            }
          }
          li {
            &::marker {
              content: '✦ ';
              color: $clr_6;
            }
          }
        }
        .description {
          margin-bottom: 30px;
          p {
            margin-top: 30px;
            line-height: 25px;
            font-weight: $fw_bolder;
            font-size: $fs_h6;
            color: $clr_8;
          }
        }
        .chat-button {
          position: relative;
          left: 0;
          right: 0;
          margin: auto;
          margin-bottom: 30px;
          min-width: 420px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          border: 2px solid $clr_1;
          background: transparent;
          @include md {
            min-width: 100%;
          }
          img {
            width: 18px;
            height: 18px;
            margin-right: 18px;
          }
          p {
            color: $clr_1;
            font-family: $ff_alt1;
          }
        }
        .vedio-box {
          width: 100%;
          max-width: 640px;
          aspect-ratio: 16 / 9;
          border-radius: 15px;
          @include md {
            margin: unset;
            margin-bottom: 16px;
          }
          iframe {
            overflow: hidden;
            padding-bottom: 4px;
            @include iframeSize;
          }
          > input {
            filter: brightness(0);
          }
        }
      }
    }
  }
}

.path {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
