section {
  // TBC
  padding-top: 0;
}

section.index {
  .container {
    .video_box {
      width: 100%;
      aspect-ratio: 2 / 1;
      overflow: hidden;
      iframe {
        @include iframeSize;
      }
    }
    // Hey U Molly wtite here
  }
}

section.social {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 6.25%;
    @include md {
      flex-direction: column;
      padding: 40px 6.25%;
    }
    .video_box {
      width: 100%;
      max-width: 640px;
      aspect-ratio: 16 / 9;
      border-radius: 15px;
      overflow: hidden;
      margin-right: 16px;
      @include md {
        margin: unset;
        margin-bottom: 16px;
      }
      iframe {
        @include iframeSize;
      }
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      @include md {
        flex-direction: column;
      }
      .video_box {
        margin-right: unset;
        margin-left: 16px;
        @include md {
          margin: unset;
          margin-bottom: 16px;
        }
      }
    }
  }
}

section.avatar {
  padding-bottom: 25vh;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 35px 15%;
    @include md {
      flex-direction: column;
      padding: 35px 6.25%;
    }
    .gif {
      @include occupation;
      flex-shrink: 0;
      @include md {
        width: 100%;
        margin-bottom: 16px;
      }
    }
    p {
      width: 100%;
      max-width: 530px;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @include md {
        flex-direction: column;
      }
    }
  }
}

section.download {
  padding: 38px 15% 166px;
  @include md {
    padding: 38px 6.25% 166px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7.5vw;
    @include md {
      flex-direction: column;
    }
    .gif {
      @include occupation;
    }
    .info {
      h3 {
        white-space: nowrap;
      }
      p {
        margin-bottom: 40px;
        max-width: 530px;
      }
      .links {
        display: flex;
        gap: 16px;
      }
    }
  }
}

section:is(.vision, .arlive) {
  .container {
    @include md {
      padding: 0 6.25%;
    }
    h2 {
      font-size: clamp(60px, 9vw, 128px);
      font-weight: $fw_max;

      &:first-of-type {
        color: $clr_dk;
        opacity: 0.25;
        filter: blur(5px);
      }
      &:not(:first-of-type) {
        position: relative;
        top: -15vh;
        text-align: end;
        line-height: 1.25;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.7) 100%
        );
        background-clip: text;
        color: transparent;
        @include md {
          top: -10vh;
        }
      }
    }
    .video_box {
      transform: translateY(-3vh);
      width: 100%;
      max-width: 1080px;
      aspect-ratio: 16 / 9;
      border-radius: 15px;
      overflow: hidden;
      margin: 0 auto;
      iframe {
        @include iframeSize;
      }
    }
  }
}

section.privacy {
  padding: 46px 15% 93px;
  @include md {
    padding: 46px 6.25% 93px;
  }
  .container {
    h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    .content {
      width: 100%;
      min-height: 800px;
      border-radius: 20px;
      padding: 24px;
      background-color: rgba($clr_base, 0.5);
    }
  }
}
