section {
  // TBC
  padding-top: 0;
}

section.index {
  & > .video_box {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 1;
    overflow: hidden;
    & > iframe {
      @include iframeSize;
    }
    // 最下方兩部影片重疊處
    &.breakdown {
      margin-top: 85vh;
      margin-bottom: 60vh;
      overflow: unset;
      $commonleft: 37.5%;
      div {
        iframe {
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translateY(-50%);
          border: 1px solid #f00;
          @include occupation;
        }
      }
      h2 {
        position: absolute;
        top: -7.5vh;
        left: $commonleft;
        span {
          font-size: clamp($fs_h4, 3.5vw, $fs_mega);
        }
      }
      p {
        position: absolute;
        bottom: 7.5vh;
        left: $commonleft;
        font-size: $fs_h3;
        min-width: 840px;
      }
    }
  }
  // Hey U Molly wtite here

  .container {
    .download {
      padding: 70px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      @include md {
        flex-direction: column;
      }
    }
    .vc_box {
      position: relative;
      img {
        width: 100%;
      }
      .text_box {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15vh 0;
      @include md {
        flex-direction: column;
      }
      .video_box {
        width: 100%;
        max-width: 640px;
        aspect-ratio: 16 / 9;
        border-radius: 15px;
        overflow: hidden;
        margin-right: 48px;
        @include md {
          margin: unset;
          margin-bottom: 16px;
        }
        iframe {
          @include iframeSize;
        }
      }
    }
  }
  .breakdown {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
  }
}

section.social {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 6.25%;
    @include md {
      flex-direction: column;
      padding: 40px 6.25%;
    }
    .video_box {
      width: 100%;
      max-width: 640px;
      aspect-ratio: 16 / 9;
      border-radius: 15px;
      overflow: hidden;
      margin-right: 16px;
      @include md {
        margin: unset;
        margin-bottom: 16px;
      }
      iframe {
        @include iframeSize;
      }
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      @include md {
        flex-direction: column;
      }
      .video_box {
        margin-right: unset;
        margin-left: 16px;
        @include md {
          margin: unset;
          margin-bottom: 16px;
        }
      }
    }
  }
}

section.avatar {
  padding-bottom: 25vh;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 35px 15%;
    @include md {
      flex-direction: column;
      padding: 35px 6.25%;
    }
    .gif {
      @include occupation;
      flex-shrink: 0;
      @include md {
        width: 100%;
        margin-bottom: 16px;
      }
    }
    p {
      width: 100%;
      max-width: 530px;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @include md {
        flex-direction: column;
      }
    }
  }
}

section.download {
  padding: 38px 15% 166px;
  @include md {
    padding: 38px 6.25% 166px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7.5vw;
    @include md {
      flex-direction: column;
    }
    .gif {
      @include occupation;
    }
    .info {
      h3 {
        white-space: nowrap;
      }
      p {
        margin-bottom: 40px;
        max-width: 530px;
      }
      .links {
        display: flex;
        gap: 16px;
      }
    }
  }
}

section:is(.vision, .arlive) {
  .container {
    @include md {
      padding: 0 6.25%;
    }
    h2 {
      font-size: clamp(60px, 9vw, 128px);
      font-weight: $fw_max;

      &:first-of-type {
        color: $clr_dk;
        opacity: 0.25;
        filter: blur(5px);
      }
      &:not(:first-of-type) {
        position: relative;
        top: -15vh;
        text-align: end;
        line-height: 1.25;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.7) 100%
        );
        background-clip: text;
        color: transparent;
        @include md {
          top: -10vh;
        }
      }
    }
    .video_box {
      transform: translateY(-3vh);
      width: 100%;
      max-width: 1080px;
      aspect-ratio: 16 / 9;
      border-radius: 15px;
      overflow: hidden;
      margin: 0 auto;
      iframe {
        @include iframeSize;
      }
    }
  }
}

section.privacy {
  padding: 46px 15% 93px;
  @include md {
    padding: 46px 6.25% 93px;
  }
  .container {
    h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    .content {
      width: 100%;
      min-height: 800px;
      border-radius: 20px;
      padding: 24px;
      background-color: rgba($clr_base, 0.5);
    }
  }
}

section.companion {
  position: relative;
  padding-top: 43px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .tab {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 830px;
    padding: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    background-color: $clr_base;
    @include lg {
      max-width: 625px;
      img {
        display: none;
      }
      @include sm {
        max-width: 340px;
        flex-wrap: wrap;
        padding: 2px 20px 2px 20px;
      }
    }
    &-btn {
      font-size: $fs_h6;
      line-height: $fs_h4;
      height: 42px;
      background-color: transparent;
      color: #818181;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 18px;
      gap: 10px;
    }
    .btn-active {
      color: $clr_base;
      background: linear-gradient(90deg, #9747ff 0%, #54b8c6 100%);
      border-radius: 100px;
      > .active {
        filter: brightness(0) invert(1);
      }
    }
  }

  .content {
    display: none;
    padding: 81px 0px 50%;
    &-title {
      font-size: $fs_mega;
    }
    .video_box {
      max-width: 522px;
      width: 100%;
      aspect-ratio: 16/9;
      margin: 0 auto;
      iframe {
        @include iframeSize;
      }
    }
    p {
      padding-top: 73px;
      padding-bottom: 80px;
      max-width: 1080px;
      font-size: $fs_h5;
      font-weight: $fw_bolder;
    }
  }
  .content.active {
    display: block;
    text-align: center;
  }
  .polygon {
    position: absolute;
    width: 20%;
    &_left {
      opacity: 0.5;
      top: 43%;
      left: 0%;
    }
    &_group {
      opacity: 0.37;
      left: 0%;
      bottom: 0%;
    }
    &_right {
      opacity: 0.5;
      top: 48%;
      right: 0%;
    }
    &_center {
      opacity: 0.5;
      top: 63%;
      right: 5%;
    }
  }
}
