$clr_base: #fff;
$clr_dk: #d9d9d9;

$clr_000: #000;
$clr_1: #54b8c6;
$clr_2: #c67edf;
$clr_3: #897ef9;
$clr_4: #7172c8;
$clr_5: #c453ec;
$clr_6: #00165F;
$clr_7: #B5B5B5;
$clr_8: #484848;


$fs_base: 1rem;

$fs_giga: 6rem;
$fs_mega: 3.375rem;
$fs_kilo: 2.5rem;

$fs_h1: 36px;
$fs_h2: 2.5rem;
$fs_h3: 2rem;
$fs_h4: 1.5rem;
$fs_h5: 1.25rem;
$fs_h6: 1.125rem;

$fs_milli: 0.875rem;
$fs_micro: 0.75rem;

$fw_bold: 500;
$fw_bolder: 700;
$fw_max: 900;

$ff_base: 'Nunito', 'Noto Sans TC';
$ff_alt1: 'otomanopeeOne', 'Noto Sans TC';
